version: '3.8'

services:
  web:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    environment:
      - DATABASE_URL=sqlite:///./currencies.db
    depends_on:
      - db

  db:
    image: nouchka/sqlite3
    volumes:
      - ./currencies.db:/data/db/currencies.db

  cron:
    build: .
    command: ["cron", "-f"]
    volumes:
      - .:/app
    environment:
      - DATABASE_URL=sqlite:///./currencies.db
    depends_on:
      - web
