<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Kursy Walut NBP{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation@1.2.2"></script>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        .highlight {
            background-color: #ffd700 !important;
        }
        .info-box-content {
            display: none;
            box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
        }
        .active {
            border: 2px solid #000;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body class="bg-gray-100 font-sans">
    <header class="bg-blue-600 text-white text-center py-4">
        <h1 class="text-2xl">Kursy Walut NBP</h1>
    </header>
    <div class="container mx-auto mt-10 max-w-5xl">
        {% block content %}{% endblock %}
    </div>
    {% block footer %}
    <footer class="bg-blue-600 text-white text-center py-4 mt-10">
        &copy; 2024 Kursy Walut NBP
    </footer>
    {% endblock %}
    {% block scripts %}{% endblock %}
</body>
</html>
