<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Kursy Walut NBP{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation@1.2.2"></script>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        .highlight {
            background-color: #40d822 !important;
        }
        .info-box-content {
            box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
        }
        .active {
            border: 2px solid #000;
        }
        .slider-label {
            display: flex;
            justify-content: space-between;
            margin-top: 10px;
        }
        .content-box-header {
            display: flex;
            justify-content: space-between;
            cursor: pointer;
        }
        .content-box-header .icon {
            font-size: 1.25rem;
            transition: transform 0.3s ease;
        }
        .content-box.collapsed .content-box-header .icon {
            transform: rotate(-90deg);
        }
        .content-box-body {
            display: none;
        }
        .fixed-top {
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 1000;
        }
        .fixed-bottom {
            position: fixed;
            bottom: 0;
            width: 100%;
        }
        .language-select-container {
            position: absolute;
            right: 0;
        }
        .language-select img {
            cursor: pointer;
            width: 32px;
            height: 32px;
            margin-left: 8px;
            display: inline-block;
        }
        .header-container {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
        }
        .header-container h1 {
            margin: 0;
        }
        .language-select-container {
            position: absolute;
            right: 0;
            display: flex;
            align-items: center;
        }


    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body class="bg-gray-100 font-sans pt-20 pb-20">
    <header class="bg-blue-600 text-white py-4 fixed-top">
        <div class="header-container container mx-auto">
            <h1 class="text-2xl">Kursy Walut NBP</h1>
            <div class="language-select-container">
                <div class="language-select">
                    <img
                    id="lang-en"
                    src="https://flagcdn.com/40x30/gb.png"
                    srcset="https://flagcdn.com/80x60/gb.png 2x,
                        https://flagcdn.com/120x90/gb.png 3x"
                    width="40"
                    height="30"
                    alt="English"
                >
                <img
                    id="lang-pl"
                    src="https://flagcdn.com/40x30/pl.png"
                    srcset="https://flagcdn.com/80x60/pl.png 2x,
                        https://flagcdn.com/120x90/pl.png 3x"
                    width="40"
                    height="30"
                    alt="Polski"
                >
                </div>
            </div>
        </div>
    </header>
    
    
    <div class="container mx-auto mt-10 max-w-5xl">
        <div class="form-box bg-white p-6 mt-6 shadow-lg rounded w-full content-box">
            <div class="content-box-header">
                <h3 class="text-lg font-bold mb-4" data-translate="infoHeader">Informacje o tabelach kursów NBP</h3>
                <i class="fas fa-chevron-down icon"></i>
            </div>
            <div class="content-box-body">
                <div class="flex justify-center space-x-4 mb-4">
                    <button class="table-btn bg-blue-500 text-white py-2 px-4 rounded" data-table="A" data-translate="tableA">Tabela A</button>
                    <button class="table-btn bg-green-500 text-white py-2 px-4 rounded" data-table="B" data-translate="tableB">Tabela B</button>
                    <button class="table-btn bg-yellow-500 text-white py-2 px-4 rounded" data-table="C" data-translate="tableC">Tabela C</button>
                </div>
                <div id="info-content" class="info-box-content bg-white p-4 mt-4 shadow rounded">
                    <!-- This content will be dynamically updated based on the selected table -->
                </div>
            </div>
        </div>

        <div class="form-box bg-white p-6 mt-6 shadow-lg rounded w-full max-w-5xl mx-auto content-box">
            <div class="content-box-header">
                <h3 class="text-lg font-bold mb-4" data-translate="checkCurrencyHeader">Sprawdź kurs walut</h3>
                <i class="fas fa-chevron-down icon"></i>
            </div>
            <div class="content-box-body">
                <div class="mb-4">
                    <label for="table-select" class="block text-sm font-medium text-gray-700" data-translate="tableLabel">Tabela:</label>
                    <select id="table-select" name="table" class="mt-1 block w-full p-2 border border-gray-300 rounded-md">
                        <option value="A">Tabela A</option>
                        <option value="B">Tabela B</option>
                        <option value="C">Tabela C</option>
                    </select>
                </div>
                <div class="mb-4">
                    <label for="currency" class="block text-sm font-medium text-gray-700" data-translate="currencyLabel">Waluta:</label>
                    <select id="currency" name="currency" class="mt-1 block w-full p-2 border border-gray-300 rounded-md">
                        <!-- This will be populated dynamically -->
                    </select>
                </div>
                <div class="mb-4">
                    <label for="date" class="block text-sm font-medium text-gray-700" data-translate="dateLabel">Data:</label>
                    <input type="text" id="date" name="date" required class="mt-1 block w-full p-2 border border-gray-300 rounded-md">
                </div>
                <div class="flex justify-center mb-4">
                    <button id="check-currency" class="bg-blue-500 text-white py-2 px-4 rounded" data-translate="checkButton">Sprawdź</button>
                </div>
                <div id="currencyRateResult" class="currency-rate-result-box bg-white p-6 mt-6 shadow-lg rounded w-full max-w-5xl mx-auto">
                    <h3 class="text-lg font-bold mb-4 text-center" data-translate="resultHeader">Wynik Kursu Walut</h3>
                    <div id="rateInfo" class="text-lg font-medium text-gray-700 mb-4 p-4 border rounded bg-gray-100 text-center"></div>
                </div>
                <div class="mb-4">
                    <div class="block text-sm font-medium text-gray-700 mb-2" data-translate="dateRangeLabel">Okres na wykresie:</div>
                    <label class="inline-flex items-center">
                        <input type="radio" name="dateRange" value="1m" class="form-radio" checked>
                        <span class="ml-2" data-translate="oneMonth">1 miesiąc</span>
                    </label>
                    <label class="inline-flex items-center ml-6">
                        <input type="radio" name="dateRange" value="3m" class="form-radio">
                        <span class="ml-2" data-translate="threeMonths">3 miesiące</span>
                    </label>
                    <label class="inline-flex items-center ml-6">
                        <input type="radio" name="dateRange" value="1y" class="form-radio">
                        <span class="ml-2" data-translate="oneYear">1 rok</span>
                    </label>
                </div>
                <div class="plot-box bg-white p-6 mt-6 shadow-lg rounded w-full">
                    <canvas id="currencyPlot" width="800" height="400"></canvas>
                </div>
            </div>
        </div>

        <div class="form-box bg-white p-6 mt-6 shadow-lg rounded w-full max-w-5xl mx-auto content-box">
            <div class="content-box-header">
                <h3 class="text-lg font-bold mb-4" data-translate="downloadHeader">Pobierz CSV</h3>
                <i class="fas fa-chevron-down icon"></i>
            </div>
            <div class="content-box-body">
                <div class="mb-4">
                    <label for="table-select-download" class="block text-sm font-medium text-gray-700" data-translate="tableLabelDownload">Tabela:</label>
                    <select id="table-select-download" name="table" class="mt-1 block w-full p-2 border border-gray-300 rounded-md">
                        <option value="A">Tabela A</option>
                        <option value="B">Tabela B</option>
                        <option value="C">Tabela C</option>
                    </select>
                </div>
                <div class="mb-4">
                    <label for="currency-download" class="block text-sm font-medium text-gray-700" data-translate="currencyLabelDownload">Waluta:</label>
                    <select id="currency-download" name="currency" class="mt-1 block w-full p-2 border border-gray-300 rounded-md">
                        <!-- This will be populated dynamically -->
                    </select>
                </div>
                <div class="mb-4">
                    <label for="date-slider" class="block text-sm font-medium text-gray-700" data-translate="dateRangeDownload">Wybierz zakres dat:</label>
                    <div id="date-slider"></div>
                    <div class="slider-label">
                        <span id="date-start-label"></span>
                        <span id="date-end-label"></span>
                    </div>
                </div>
                <div class="flex justify-center">
                    <button id="download-csv" class="bg-blue-500 text-white py-2 px-4 rounded" data-translate="downloadButton">Pobierz CSV</button>
                </div>
                <div class="plot-box bg-white p-6 mt-6 shadow-lg rounded w-full">
                    <canvas id="downloadPlot" width="800" height="400"></canvas>
                </div>
            </div>
        </div>
        <div id="info-NBP" class="form-box bg-white p-6 mt-6 shadow-lg rounded w-full max-w-5xl mx-auto content-box">
            <div class="content-box-header">
                <h3 class="text-lg font-bold mb-4" data-translate="infoNBPHeader">Informacja o kursie NBP</h3>
                <i class="fas fa-chevron-down icon"></i>
            </div>
            <div class="content-box-body">
                <p data-translate="infoNBPContent">Kurs NBP nie nadaje się do śledzenia aktualnej sytuacji na rynku i najnowszych zmian, ponieważ dane aktualizowane są tylko raz dziennie, jednak jest on wykorzystywany do przygotowywania wykresów i analiz długoterminowych oraz sporządzania statystyk. Oprócz tego kursy NBP są wykorzystywane podczas niektórych czynności prawnych wymagających rzetelnych i dokładnych statystyk - przykładem może być choćby określanie wartości zobowiązań cywilnoprawnych, obliczanie różnic kursowych, przeliczanie przychodów bądź kosztów, a także obliczanie wartości aktywów w obcych walutach.</p>
            </div>
        </div>
    </div>

    {% block footer %}
    <footer class="bg-blue-600 text-white text-center py-4 mt-10 fixed-bottom">
        &copy; 2024 Kursy Walut NBP
    </footer>
    {% endblock %}

    <script>
        let dateRanges = {};
        let availableDates = [];
        let currencyChart, downloadChart;
    
        async function fetchData(url) {
            const response = await fetch(url);
            return response.json();
        }
    
        async function fetchDateRanges(table, currency, context) {
            const data = await fetchData(`/date-ranges/${table}/${currency}`);
            dateRanges[table] = data;
            if (context === 'currency') {
                updateDateRange(table, 'currency');
            } else {
                updateDateSlider(table, data.min, data.max);
            }
        }
    
        async function fetchAvailableDates(table, year, month, currency) {
            const data = await fetchData(`/available-dates/${table}/${year}/${month}/${currency}`);
            availableDates = data;
            highlightDatesWithRecords();
        }
    
        async function fetchPlotData(table, currency, startDate, endDate, chartRef) {
            const data = await fetchData(`/check-currency-range/${table}/${currency}?start_date=${startDate}&end_date=${endDate}`);
            updatePlot(data, table, currency, startDate, endDate, chartRef);
        }
    
        async function fetchCurrencyValue(table, currency, date) {
            try {
                const data = await fetchData(`/check-currency/${table}/${currency}?date=${date}`);
                const rateInfoElement = document.getElementById('rateInfo');
                const language = document.documentElement.lang;
                const translations = {
                    "pl": {
                        "table": "Tabela",
                        "currency": "Waluta",
                        "date": "Data",
                        "mid": "Kurs",
                        "bid": "Kurs kupna",
                        "ask": "Kurs sprzedaży",
                        "noData": "Brak danych dla podanej waluty lub daty.",
                        "nearestResult": "Najbliższy znaleziony wynik to:"
                    },
                    "en": {
                        "table": "Table",
                        "currency": "Currency",
                        "date": "Date",
                        "mid": "Rate",
                        "bid": "Bid rate",
                        "ask": "Ask rate",
                        "noData": "No data for the given currency or date.",
                        "nearestResult": "Nearest found result is:"
                    }
                };
    
                if (table === 'C') {
                    rateInfoElement.innerHTML = `${translations[language].table}: ${table}<br>${translations[language].currency}: ${currency}<br>${translations[language].date}: ${data.date}<br>${translations[language].bid}: ${data.value.bid}<br>${translations[language].ask}: ${data.value.ask}`;
                } else {
                    rateInfoElement.innerHTML = `${translations[language].table}: ${table}<br>${translations[language].currency}: ${currency}<br>${translations[language].date}: ${data.date}<br>${translations[language].mid}: ${data.value.mid}`;
                }
            } catch (error) {
                try {
                    const nearestData = await fetchData(`/nearest-currency/${table}/${currency}?date=${date}`);
                    const rateInfoElement = document.getElementById('rateInfo');
                    const language = document.documentElement.lang;
                    const translations = {
                        "pl": {
                            "table": "Tabela",
                            "currency": "Waluta",
                            "date": "Data",
                            "mid": "Kurs",
                            "bid": "Kurs kupna",
                            "ask": "Kurs sprzedaży",
                            "noData": "Brak danych dla podanej waluty lub daty.",
                            "nearestResult": "Najbliższy znaleziony wynik to:"
                        },
                        "en": {
                            "table": "Table",
                            "currency": "Currency",
                            "date": "Date",
                            "mid": "Rate",
                            "bid": "Bid rate",
                            "ask": "Ask rate",
                            "noData": "No data for the given currency or date.",
                            "nearestResult": "Nearest found result is:"
                        }
                    };
    
                    if (table === 'C') {
                        rateInfoElement.innerHTML = `${translations[language].noData}<br>${translations[language].nearestResult}<br>${translations[language].table}: ${table}<br>${translations[language].currency}: ${currency}<br>${translations[language].date}: ${nearestData.date}<br>${translations[language].bid}: ${nearestData.value.bid}<br>${translations[language].ask}: ${nearestData.value.ask}`;
                    } else {
                        rateInfoElement.innerHTML = `${translations[language].noData}<br>${translations[language].nearestResult}<br>${translations[language].table}: ${table}<br>${translations[language].currency}: ${currency}<br>${translations[language].date}: ${nearestData.date}<br>${translations[language].mid}: ${nearestData.value.mid}`;
                    }
                } catch (nearestError) {
                    const rateInfoElement = document.getElementById('rateInfo');
                    const language = document.documentElement.lang;
                    const translations = {
                        "pl": {
                            "noData": "Brak danych dla podanej waluty lub daty."
                        },
                        "en": {
                            "noData": "No data for the given currency or date."
                        }
                    };
                    rateInfoElement.innerText = translations[language].noData;
                }
            }
        }
    
        function updateCurrencyDropdown(table, selectId) {
            const currencySelect = document.getElementById(selectId);
            currencySelect.innerHTML = '';
    
            let currencies = [];
            if (table === 'A') {
                currencies = {{ currencies_a|tojson }};
            } else if (table === 'B') {
                currencies = {{ currencies_b|tojson }};
            } else if (table === 'C') {
                currencies = {{ currencies_c|tojson }};
            }
    
            currencies.forEach(currency => {
                const option = document.createElement('option');
                option.value = currency.code;
                option.textContent = currency.name;
                currencySelect.appendChild(option);
            });
    
            if (selectId === 'currency') {
                fetchDateRanges(table, document.getElementById('currency').value,'currency');
            } else {
                fetchDateRanges(table, document.getElementById('currency-download').value,'download');
            }
        }
    
        function updateDateRange(table, context) {
            const dateInput = document.getElementById('date');
            const range = dateRanges[table];
            const today = new Date();
    
            dateInput.min = range.min;
            dateInput.max = range.max;
    
            const defaultDate = new Date(range.max);
            if (defaultDate > today) {
                dateInput.value = today.toISOString().split('T')[0];
            } else {
                dateInput.value = range.max;
            }
    
            $("#date").datepicker("option", "minDate", new Date(range.min));
            $("#date").datepicker("option", "maxDate", new Date(range.max));
    
            // Trigger initial fetch of available dates for the default month and year
            const year = new Date(dateInput.value).getFullYear();
            const month = new Date(dateInput.value).getMonth() + 1;
            const currency = document.getElementById('currency').value;
            fetchAvailableDates(table, year, month, currency);
        }
    
        function updateDateSlider(table, minDate, maxDate) {
            const minDateObj = new Date(minDate);
            const maxDateObj = new Date(maxDate);

            $("#date-slider").slider({
                range: true,
                min: minDateObj.getTime(),
                max: maxDateObj.getTime(),
                values: [minDateObj.getTime(), maxDateObj.getTime()],
                slide: function(event, ui) {
                    $("#date-start-label").text(new Date(ui.values[0]).toISOString().split('T')[0]);
                    $("#date-end-label").text(new Date(ui.values[1]).toISOString().split('T')[0]);
                },
                change: function(event, ui) {
                    const startDate = new Date(ui.values[0]).toISOString().split('T')[0];
                    const endDate = new Date(ui.values[1]).toISOString().split('T')[0];
                    const table = document.getElementById('table-select-download').value;
                    const currency = document.getElementById('currency-download').value;
                    fetchPlotData(table, currency, startDate, endDate, 'downloadPlot');
                }
            });

            $("#date-start-label").text(minDate);
            $("#date-end-label").text(maxDate);
        }
    
        function highlightDatesWithRecords() {
            $("#date").datepicker("refresh");
        }
    
        function autoTypeDate(year, month) {
            const dateInput = document.getElementById('date');
            const firstAvailableDate = availableDates.find(date => date.startsWith(`${year}-${String(month).padStart(2, '0')}`));
            if (firstAvailableDate) {
                dateInput.value = firstAvailableDate;
            }
        }
    
        function getDateRangeValues(context) {
    const date = new Date(document.getElementById('date').value);
    let startDate, endDate;

    if (context === 'currency') {
        const rangeValue = document.querySelector('input[name="dateRange"]:checked').value;
        if (rangeValue === '1m') {
            // Set start and end dates to 1 month (30 days) period centered around the selected date
            startDate = new Date(date);
            startDate.setDate(startDate.getDate() - 15);
            endDate = new Date(date);
            endDate.setDate(endDate.getDate() + 15);
        } else if (rangeValue === '3m') {
            // Set start and end dates to 3 months (90 days) period centered around the selected date
            startDate = new Date(date);
            startDate.setDate(startDate.getDate() - 45);
            endDate = new Date(date);
            endDate.setDate(endDate.getDate() + 45);
        } else if (rangeValue === '1y') {
            // Set start and end dates to 1 year period centered around the selected date
            startDate = new Date(date);
            startDate.setFullYear(startDate.getFullYear() - 0.5);
            endDate = new Date(date);
            endDate.setFullYear(endDate.getFullYear() + 0.5);
        }
    } else {
        startDate = new Date($("#date-slider").slider("values", 0));
        endDate = new Date($("#date-slider").slider("values", 1));
    }

    return {
        startDate: startDate.toISOString().split('T')[0],
        endDate: endDate.toISOString().split('T')[0]
    };
}
    
        function updatePlot(data, table, currency, startDate, endDate, chartRef) {
            const labels = data.map(entry => entry.date);
            let datasets = [];
    
            if (table === 'C') {
                const bidValues = data.map(entry => entry.value.bid);
                const askValues = data.map(entry => entry.value.ask);
    
                datasets = [
                    {
                        label: 'Kurs kupna',
                        data: bidValues,
                        borderColor: 'rgba(75, 192, 192, 1)',
                        backgroundColor: 'rgba(75, 192, 192, 0.2)',
                        borderWidth: 1
                    },
                    {
                        label: 'Kurs sprzedaży',
                        data: askValues,
                        borderColor: 'rgba(192, 75, 75, 1)',
                        backgroundColor: 'rgba(192, 75, 75, 0.2)',
                        borderWidth: 1
                    }
                ];
            } else {
                const values = data.map(entry => entry.value.mid);
                datasets = [
                    {
                        label: 'Kurs Walut',
                        data: values,
                        borderColor: 'rgba(75, 192, 192, 1)',
                        backgroundColor: 'rgba(75, 192, 192, 0.2)',
                        borderWidth: 1
                    }
                ];
            }
    
            const ctx = document.getElementById(chartRef).getContext('2d');
            if (chartRef === 'currencyPlot' && currencyChart) {
                currencyChart.destroy();
            } else if (chartRef === 'downloadPlot' && downloadChart) {
                downloadChart.destroy();
            }
    
            const annotations = [];
            if (chartRef === 'currencyPlot') {
                const selectedDate = document.getElementById('date').value;
                const entryForDate = data.find(entry => entry.date === selectedDate);
    
                if (table === 'C') {
                    if (entryForDate?.value?.bid) {
                        annotations.push({
                            type: 'polygon',
                            backgroundColor: 'rgba(255, 99, 132, 0.25)',
                            borderColor: 'rgba(255, 99, 132, 1)',
                            borderWidth: 2,
                            radius: 10,
                            sides: 6,
                            xValue: selectedDate,
                            yValue: entryForDate.value.bid,
                            label: {
                                content: 'Nearest Bid Date',
                                enabled: true,
                                position: 'center'
                            }
                        });
                    }
    
                    if (entryForDate?.value?.ask) {
                        annotations.push({
                            type: 'polygon',
                            backgroundColor: 'rgba(54, 162, 235, 0.25)',
                            borderColor: 'rgba(54, 162, 235, 1)',
                            borderWidth: 2,
                            radius: 10,
                            sides: 6,
                            xValue: selectedDate,
                            yValue: entryForDate.value.ask,
                            label: {
                                content: 'Nearest Ask Date',
                                enabled: true,
                                position: 'center'
                            }
                        });
                    }
                } else {
                    if (entryForDate?.value?.mid) {
                        annotations.push({
                            type: 'polygon',
                            backgroundColor: 'rgba(255, 99, 132, 0.25)',
                            borderColor: 'rgba(255, 99, 132, 1)',
                            borderWidth: 2,
                            radius: 10,
                            sides: 6,
                            xValue: selectedDate,
                            yValue: entryForDate.value.mid,
                            label: {
                                content: 'Nearest Date',
                                enabled: true,
                                position: 'center'
                            }
                        });
                    }
                }
            }
    
            const newChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: labels,
                    datasets: datasets
                },
                options: {
                    scales: {
                        x: {
                            type: 'time',
                            time: {
                                unit: 'day',
                                tooltipFormat: 'dd MMM yyyy'
                            },
                            min: new Date(startDate).getTime(),
                            max: new Date(endDate).getTime()
                        },
                        y: {
                            beginAtZero: false
                        }
                    },
                    plugins: {
                        annotation: {
                            annotations: annotations
                        }
                    }
                }
            });
    
            if (chartRef === 'currencyPlot') {
                currencyChart = newChart;
            } else if (chartRef === 'downloadPlot') {
                downloadChart = newChart;
            }
        }
    
        function toggleInfo(table) {
            let infoContent = '';
            if (table === 'A') {
                infoContent = `<p data-translate="tableAInfo">Tabela A zawiera wartości 34 najpopularniejszych walut włącznie z polskim złotym, dane aktualizowane są codziennie, zazwyczaj około godziny 16.</p>`;
            } else if (table === 'B') {
                infoContent = `<p data-translate="tableBInfo">Tabela B zawiera nieco rzadziej spotykane waluty, dane aktualizowane są raz w tygodniu – w środę pomiędzy godziną 11:45 a 12:15.</p>`;
            } else if (table === 'C') {
                infoContent = `<p data-translate="tableCInfo">Tabela C to archiwum, zawiera zaległe notowania kursów walut zagranicznych, wykorzystywane do statystyk i monitorowania rynku walut.</p>`;
            }
            document.getElementById('info-content').innerHTML = infoContent;
            translateContent();
        }
    
        function translateContent() {
            const translations = {
                "pl": {
                    "infoHeader": "Informacje o tabelach kursów NBP",
                    "tableA": "Tabela A",
                    "tableB": "Tabela B",
                    "tableC": "Tabela C",
                    "checkCurrencyHeader": "Sprawdź kurs walut",
                    "tableLabel": "Tabela:",
                    "currencyLabel": "Waluta:",
                    "dateLabel": "Data:",
                    "dateRangeLabel": "Okres na wykresie:",
                    "oneMonth": "1 miesiąc",
                    "threeMonths": "3 miesiące",
                    "oneYear": "1 rok",
                    "checkButton": "Sprawdź",
                    "resultHeader": "Wynik Kursu Walut",
                    "downloadHeader": "Pobierz CSV",
                    "tableLabelDownload": "Tabela:",
                    "currencyLabelDownload": "Waluta:",
                    "dateRangeDownload": "Wybierz zakres dat:",
                    "downloadButton": "Pobierz CSV",
                    "infoNBPHeader": "Informacja o kursie NBP",
                    "infoNBPContent": "Kurs NBP nie nadaje się do śledzenia aktualnej sytuacji na rynku i najnowszych zmian, ponieważ dane aktualizowane są tylko raz dziennie, jednak jest on wykorzystywany do przygotowywania wykresów i analiz długoterminowych oraz sporządzania statystyk. Oprócz tego kursy NBP są wykorzystywane podczas niektórych czynności prawnych wymagających rzetelnych i dokładnych statystyk - przykładem może być choćby określanie wartości zobowiązań cywilnoprawnych, obliczanie różnic kursowych, przeliczanie przychodów bądź kosztów, a także obliczanie wartości aktywów w obcych walutach.",
                    "tableAInfo": "Tabela A zawiera wartości 34 najpopularniejszych walut włącznie z polskim złotym, dane aktualizowane są codziennie, zazwyczaj około godziny 16.",
                    "tableBInfo": "Tabela B zawiera nieco rzadziej spotykane waluty, dane aktualizowane są raz w tygodniu – w środę pomiędzy godziną 11:45 a 12:15.",
                    "tableCInfo": "Tabela C to archiwum, zawiera zaległe notowania kursów walut zagranicznych, wykorzystywane do statystyk i monitorowania rynku walut."
                },
                "en": {
                    "infoHeader": "Information about NBP exchange rate tables",
                    "tableA": "Table A",
                    "tableB": "Table B",
                    "tableC": "Table C",
                    "checkCurrencyHeader": "Check currency rates",
                    "tableLabel": "Table:",
                    "currencyLabel": "Currency:",
                    "dateLabel": "Date:",
                    "dateRangeLabel": "Date range:",
                    "oneMonth": "1 month",
                    "threeMonths": "3 months",
                    "oneYear": "1 year",
                    "checkButton": "Check",
                    "resultHeader": "Currency Rate Result",
                    "downloadHeader": "Download CSV",
                    "tableLabelDownload": "Table:",
                    "currencyLabelDownload": "Currency:",
                    "dateRangeDownload": "Select date range:",
                    "downloadButton": "Download CSV",
                    "infoNBPHeader": "Information about NBP rate",
                    "infoNBPContent": "The NBP rate is not suitable for tracking the current market situation and the latest changes, because the data is updated only once a day, but it is used to prepare charts and long-term analyzes and compile statistics. In addition, NBP rates are used during some legal activities that require reliable and accurate statistics - an example can be determining the value of civil law obligations, calculating exchange rate differences, converting revenues or costs, and calculating the value of assets in foreign currencies.",
                    "tableAInfo": "Table A contains the values of the 34 most popular currencies, including the Polish zloty, data is updated daily, usually around 4 pm.",
                    "tableBInfo": "Table B contains less frequently encountered currencies, data is updated once a week - on Wednesday between 11:45 am and 12:15 pm.",
                    "tableCInfo": "Table C is an archive, containing past quotations of foreign exchange rates, used for statistics and monitoring the currency market."
                }
            };
    
            const language = document.documentElement.lang;
            document.querySelectorAll('[data-translate]').forEach(element => {
                const key = element.getAttribute('data-translate');
                if (translations[language] && translations[language][key]) {
                    element.innerText = translations[language][key];
                }
            });
        }
    
        $(document).ready(function() {
            $("#date").datepicker({
                dateFormat: 'yy-mm-dd',
                beforeShowDay: function(date) {
                    const dateString = $.datepicker.formatDate('yy-mm-dd', date);
                    if (availableDates.includes(dateString)) {
                        return [true, 'highlight', 'Record exists'];
                    } else {
                        return [true, '', ''];
                    }
                },
                onChangeMonthYear: function(year, month) {
                    const table = document.getElementById('table-select').value;
                    const currency = document.getElementById('currency').value;
                    fetchAvailableDates(table, year, month, currency);
                }
            });
    
            $('#currency').on('change', function() {
                const date = $('#date').val();
                const year = new Date(date).getFullYear();
                const month = new Date(date).getMonth() + 1;
                const table = document.getElementById('table-select').value;
                const currency = document.getElementById('currency').value;
                fetchAvailableDates(table, year, month, currency).then(() => autoTypeDate(year, month));
            });
    
            $('#date').on('change', function() {
                const date = $(this).val();
                const year = new Date(date).getFullYear();
                const month = new Date(date).getMonth() + 1;
                const table = document.getElementById('table-select').value;
                const currency = document.getElementById('currency').value;
                fetchAvailableDates(table, year, month, currency);
            });
    
            $('#check-currency').on('click', function() {
                const table = document.getElementById('table-select').value;
                const currency = document.getElementById('currency').value;
                const date = document.getElementById('date').value;
                fetchCurrencyValue(table, currency, date);
                const { startDate, endDate } = getDateRangeValues('currency');
                fetchPlotData(table, currency, startDate, endDate, 'currencyPlot');
            });
    
            $('.table-btn').on('click', function() {
                $('.table-btn').removeClass('active');
                $(this).addClass('active');
                const table = $(this).attr('data-table');
                toggleInfo(table);
            });
    
            $('#table-select').on('change', function() {
                const table = $(this).val();
                updateCurrencyDropdown(table, 'currency');
                const date = $('#date').val();
                const currency = document.getElementById('currency').value;
                fetchAvailableDates(table, new Date(date).getFullYear(), new Date(date).getMonth() + 1, currency);
            });
    
            $('#table-select-download').on('change', function() {
                const table = $(this).val();
                updateCurrencyDropdown(table, 'currency-download');
            });

            $('#currency-download').on('change', function() {
                const table = document.getElementById('table-select-download').value;
                const currency = document.getElementById('currency-download').value;
                const startDate = $("#date-start-label").text();
                const endDate = $("#date-end-label").text();
                fetchPlotData(table, currency, startDate, endDate, 'downloadPlot');
            });
    
            $('input[name="dateRange"]').on('change', function() {
                const table = document.getElementById('table-select').value;
                const currency = document.getElementById('currency').value;
                const { startDate, endDate } = getDateRangeValues('currency');
                fetchPlotData(table, currency, startDate, endDate, 'currencyPlot');
            });
    
            // Handle CSV download
            $('#download-csv').on('click', function() {
                const table = document.getElementById('table-select-download').value;
                const currency = document.getElementById('currency-download').value;
                const startDate = $("#date-start-label").text();
                const endDate = $("#date-end-label").text();
                window.location.href = `/download-csv/${table}/${currency}/?start_date=${startDate}&end_date=${endDate}`;
            });
    
            // Set default table to A on page load
            updateCurrencyDropdown('A', 'currency');
            updateCurrencyDropdown('A', 'currency-download');
            document.querySelector('.table-btn[data-table="A"]').classList.add('active');
            toggleInfo('A');
            
            // Add toggle functionality for content boxes with animation
            $('.content-box-header').on('click', function() {
                var contentBox = $(this).parent();
                var contentBoxBody = contentBox.find('.content-box-body');
                contentBox.toggleClass('collapsed');
                contentBoxBody.slideToggle(300);
            });
    
            // Initial state: expand all boxes
            $('.content-box').each(function() {
                $(this).find('.content-box-body').show();
            });
    
            const defaultTable = 'A';
            const defaultCurrency = $('#currency').val();
            fetchDateRanges(defaultTable, defaultCurrency, 'currency').then(() => {
                const { startDate, endDate } = getDateRangeValues('currency');
                fetchPlotData(defaultTable, defaultCurrency, startDate, endDate, 'currencyPlot');
            });
    
            fetchDateRanges(defaultTable, defaultCurrency, 'download').then(() => {
                const dateRange = dateRanges[defaultTable];
                fetchPlotData(defaultTable, defaultCurrency, dateRange.min, dateRange.max, 'downloadPlot');
            });
    
            $('#lang-pl').on('click', function() {
                document.documentElement.lang = 'pl';
                translateContent();
            });
    
            $('#lang-en').on('click', function() {
                document.documentElement.lang = 'en';
                translateContent();
            });
    
        });
    </script>
    
</body>
</html>
